<nav
  class="shadow-none navbar navbar-main navbar-transparent z-index-3 py-3">
  <div class="container">
    <a class="navbar-brand text-white" href="{% url 'home' %}" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom">
      {{ user.username }}
    </a>
    <div class="" id="navigation">
      <ul class="navbar-nav navbar-nav-hover ms-auto">
        <div class="row">
          <div class="col-auto m-auto">
            <a class="text-white cursor-pointer" href="{% url 'character-list' %}">
              <i class="ni ni-single-02 fixed-plugin-button-nav"></i> Characters
            </a>
          </div>
          <div class="col-auto m-auto">
            <a class="text-white cursor-pointer" href="{% url 'post-list' %}">
              <i class="ni ni-single-copy-04 fixed-plugin-button-nav"></i> Posts
            </a>
          </div>
          <div class="col-auto m-auto">
            <a class="text-white cursor-pointer" href="{% url 'thread-list' %}">
              <i class="ni ni-chat-round fixed-plugin-button-nav"></i> Threads
            </a>
          </div>
          <div class="col-auto m-auto">
            <a class="text-white cursor-pointer" href="{% url 'verse-list' %}">
              <i class="ni ni-planet fixed-plugin-button-nav"></i> Verses
            </a>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>
