{% extends '_page.html' %}
{% block title %}characters{% endblock %}
{% block main %}
<div class="header text-center mb-4">
    <h1 class="mt-5 text-white mb-0">Characters</h1>
{#          <h5>#}
              <a href="{% url 'character-create' %}" class=" font-weight-normal badge badge-secondary">
                new
              </a>
{#          </h5>#}

</div>
    <hr class="mb-5">
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
    {% for character in character_list %}
        {% include 'character_list_card.html' %}
    {% endfor %}
 </div>
{% endblock %}
