<div class="card mb-4 rounded-0">
    <div class="card-header d-flex justify-content-between border-bottom py-3">
        <div class="d-flex">
            <a href="{% url 'character-detail' page_name=reply.character.page_name %}" >
                <img src="{{ reply.character.avatar }}" class="avatar" alt="profile-image">
            </a>
            <div class="mx-3">
                <a href="{% url 'character-detail' page_name=reply.character.page_name %}" class="text-dark font-weight-600 text-sm">{{ reply.character.page_name }}</a>
                <small class="d-block text-muted">{{ reply.created }}</small>
            </div>
        </div>

            {% if reply.user == user %}

    <div class="btn-group">
      <a href="{% url 'reply-update' pk=reply.pk %}" class="nav-link px-2 py-1 text-xs" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Reply">
        <span class="btn-inner--icon text-secondary"><i class="fa fa-pen small"></i></span>
      </a>
      <a href="{% url 'reply-delete' pk=reply.pk %}" class="nav-link px-0 py-1 text-xs" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Reply">
        <span class="btn-inner--icon text-secondary"><i class="fa fa-trash small"></i></span>
      </a>
    </div>

  {% endif %}

    </div>

    <div class="card-body">
        {{ reply.content.html|safe }}
    </div>
    {% if reply.comments %}
    <div class="card-footer">
        <div class="text-xs text-muted blockquote-footer">
            <em>{{ reply.comments }}</em>
        </div>
    </div>
    {% endif %}
</div>