{% extends '_page.html' %}
{% block title %}verses{% endblock %}
{% block main %}
  <div class="header px-4">
    <h3 class="mt-5 text-white">Verses<span></span></h3>
    {% if user.is_authenticated %}
    <a href="{% url 'verse-create' %}"><button class="btn btn-icon btn-3 btn-primary btn-xs" type="button">
        <span class="btn-inner--icon"><i class="ni ni-fat-add align-middle small"></i></span>
        <span class="btn-inner--text">NEW</span>
    </button></a>
    {% endif %}
  </div>
  <div class="col-8 px-md-4">
    <div class="card rounded-0">
      <div class="table-responsive">
        <table class="table table-flush" id="datatable-basic">
          <thead class="thead-light">
            <tr>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Franchise</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Posts</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Threads</th>
            </tr>
          </thead>
          <tbody>
            {% for verse in verse_list %}
            <tr>
                <td class="text-sm font-weight-normal"><a href="{% url 'verse-detail' pk=verse.pk %}">{{ verse.name }}</a></td>
              <td class="text-sm font-weight-normal">{{ verse.franchise }}</td>
              <td class="text-sm font-weight-normal">{{ verse.posts.all|length }}</td>
              <td class="text-sm font-weight-normal">{{ verse.threads.all|length }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_scripts %}
{% load static %}
<script src="{% static 'assets/js/plugins/datatables.js' %}"></script>
<script>
  const dataTableBasic = new simpleDatatables.DataTable("#datatable-basic", {
    searchable: true,
    fixedHeight: true
  });

  const dataTableSearch = new simpleDatatables.DataTable("#datatable-search", {
    searchable: true,
    fixedHeight: true
  });
</script>
{% endblock %}
